<section class="mt-3">
  <div class="contenedor-form ">
    <h2>{{title}}</h2>
    <hr>
    <form class="d-flex flex-column gap-3" (submit)="getDataForm($event)" novalidate="true">
      <div>
        <label class="form-label" for="nombre">Nombre Usuario</label>
        <input type="text" id="nombre" class="form-control" [formField]="userForm.first_name">
      </div>
      <div>
        <label class="form-label" for="apellidos">Apellido Usuario</label>
        <input type="text" id="apellidos" class="form-control" [formField]="userForm.last_name">
      </div>
      <div>
        <label class="form-label" for="email">Email Usuario</label>
        <input type="text" id="email" class="form-control" [formField]="userForm.email">
      </div>
      <div>
        <label class="form-label" for="imagen">Imagen Usuario</label>
        <input type="text" id="imagen" class="form-control" [formField]="userForm.image">
      </div>
      <input class="btn btn-dark" type="submit" [value]="btnName">

    </form>
  </div>
</section>